{
  "presets": ["next/babel"],
  "plugins": [
    "transform-react-pug",
    [
      "@babel/plugin-proposal-decorators",
      {
        "legacy": true
      }
    ],
    [
      "@babel/plugin-proposal-class-properties",
      {
        "loose": true
      }
    ],
    [
      "inline-json-import",
      {}
    ]
  ]
}
