@require 'css/consts/colors'
@require 'css/consts/settings'

@require 'css/flex/columns'
@require 'css/flex/rows'
@require 'css/flex/wrap'
@require 'css/flex/align'

// Remove these 3 frameworks after redoing the login and mnemonic pages with
// mui
// @require 'css/forms/theme'
@require 'css/layout/framework'
// @require 'css/material/framework'

@require 'css/pages/_settings'
@require 'css/pages/_fonts'
@require 'css/pages/_layout'
@require 'css/pages/_loader'
@require 'css/pages/_form'
@require 'css/pages/_account'
@require 'css/pages/_trade'

@require 'css/pages/index'
@require 'css/pages/signup'
@require 'css/pages/account/index'
@require 'css/pages/account/mnemonic'
@require 'css/pages/account/transactions'
@require 'css/pages/invest/deal'
