// Should Overwrite Others if available
.flex-columns.flex-columns.flex-columns
.columns.columns.columns
  display: flex
  flex-direction: row
  justify-content: center
  align-items: center

  &.flex-wrap
  &.wrap
    flex-wrap: wrap

    & > *
      flex: initial

  &.flex-initial
    & > *
      flex: initial

  & > *
    flex: 1

.columns > *
  padding: 5px
