body {
  font-family: ‘BWHaasGroteskTF-55Roman-Web, sans-serif’, sans-serif;
}

.custom-item {
  padding-right: 1px;
}

a {
  color: #6da7ee;
}

p {
  color: rgb(142, 142, 142)
}

.dark {
  color: rgb(64, 64, 64)
}

td {
  color: rgb(142, 142, 142)
}

svg.rv-xy-plot__inner {
  overflow: visible;
}

/* undo reeeset.css */

*, :after, :before {
  box-sizing: unset;
}

div#__next {
  /* position: relative; */
  background-color: transparent;
}

body> :nth-child(1) {
  background-color: transparent;
}

html {
  color: unset;
  background-color: transparent;
}