#account-mnemonic
  // &:before
  //   content: ''
  //   display: block
  //   position: absolute
  //   width: 100vw
  //   height: 4rem
  //   top: 0
  //   left:0
  //   background-color: $dashMenuDarkColor
  //   z-index: 100
  //   pointer-events: none

  // &:after
  //   content: ''
  //   display: block
  //   position: absolute
  //   width: 100vw
  //   height: 8rem
  //   top: 4rem
  //   left:0
  //   background: linear-gradient(to bottom, rgba(19,21,30,1) 0%,rgba(19,21,30,.25) 50%,rgba(19,21,30,0) 100%)
  //   z-index: 10
  //   pointer-events: none

  .mnemonic-forms
    max-width: 600px
    padding: 0

    .card-body
      padding-top: 0

    .input-container
      margin-bottom: 1rem
      margin-top: 0

    textarea
      font-size: 1.5rem
      text-align: center
      margin: 0
      opacity: 1
      line-height: 3rem
      word-spacing: 1rem
      padding: 0.5rem 1rem
      background-color: $backgroundLightDarkColor
      box-shadow: 0 20px 20px 0 rgba(0,0,0,0.2)

    .button
      transition all ($transitionTime) ease-in-out

      &.copied
        background-color: $themeAccentColor !important
        border-color: $themeAccentColor !important
