.outer {

  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;

  .top {
    flex: 0 0 auto; // disable grow, disable shrink (rely on item's height)
      //background-color: #eaa; // for testing and dev 
  }

  .bottom {
    flex: 1 0 auto; // enable grow, disable shrink
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
  }

  .left {
    min-height: 100%;
    flex: 0 0 auto; // disable grow, disable shrink (rely on item's width)
        //background-color: #aea; // dev
    
    & > * {
      min-height: 100%;
    }
  }

  .main {
    flex: 1 1 auto; // enable grow, enable shrink
        //backgroundColor: '#aae',  // dev
    & > * {
      width: 100%;
      min-height: 100%;
    }
  }
}
