.account
  &:before
    content: ''
    display: block
    position: fixed
    width: 100vw
    height: 4rem
    top: 0
    left:0
    background-color: $backgroundDarkColor
    z-index: 100
    pointer-events: none

  &:after
    content: ''
    display: block
    position: fixed
    width: 100vw
    height: 1rem
    top: 4rem
    left:0
    background: linear-gradient(to bottom, #111 0%, rgba(0,0,0,.15) 50%, rgba(0,0,0,0) 100%)
    opacity: 0.25
    z-index: 10
    pointer-events: none

  padding-top: 8rem
  max-height: 100vh
  padding-bottom: 7rem
  height: 100vh
  background-color: $backgroundDarkColor
  z-index: 2
  position: relative

  .picker
    .picker-header
    .picker-footer
      text-align: center

      .button
        &:first-child
          flex: 0
          border-top-right-radius: 0 !important
          border-bottom-right-radius: 0 !important
          margin-right: 0

        &:last-child
          border-top-left-radius: 0 !important
          border-bottom-left-radius: 0 !important
          margin-left: 0
          flex-grow: 1

    .control
      input
        font-size: 2rem
        text-align: center
        line-height: 3rem

      .adornment p
        font-size: 2rem
        color: $white
        margin-right: 1rem

    .right
      text-align: right

  .icon
  .confirmation
    text-align: center

    .button
      width: auto
