$mPrimaryColor = $bluegrey800
$placeholderColor = #565D7F
$backgroundDarkColor = #1a1e3c
$backgroundLightDarkColor = #2F2A48
$borderDarkColor = #1D202F
$highlightDarkColor = #5480FF
$textDarkColor = #565D7F
$errorColor = $red500
$goodColor  = $cyan500
$buttonBorderColor = #3A405E
$checkboxBorderColor = #3A405E
$checkboxCheckedBackgroundColor = #5480FF
$checkboxCheckedForegroundColor = $white
$dashMenuDarkColor = #13151E
$dashFooterDarkColor = #161932
$tokenCardGradient1Color = #292e54
$tokenCardGradient2Color = #202443
$pickerPickedColor  = rgba(29, 226, 160, .7)
$ustColor = #fff268
$transitionTime = 400ms

