#signup
  .signup
    max-width: 400px
    padding: 0

    .inputs
      margin-bottom: .5rem
      margin-top: 4rem

    .checkbox
      margin: 1rem auto 1rem
      width: 100%

      .checkbox-container
        flex-direction: column
