@require '../consts/colors'

// Default Settings

// Dimensions

$pageWidth = 1000px
$headerHeight = 50px
$footerSmallPrintHeight = 50px

$spacing = .5rem
$sectionMinHeight= 600px

$headerDockedMargin = 10px

$mobileMenuWidth = 360px

// Breakpoints

$tabletWidth = 800px
$phoneWidth = 650px

// Timing

$transitionTime = 400ms

// Effects

$hoverOpacity = .6

// element dimensions
$themeElementHeight  = 2em
$themeElementPadding = 1em
$themeBorderRadius   = 2px

// colors
$themeBGColor = #EEE
$themeTextColor = #000
$themeTextColorInverted = #FFF

$themeAccentColor = $blue500
$themeAccentColorLight = lighten($themeAccentColor, 50%)
$themeAccentColorDark = darken($themeAccentColor, 50%)

$themeGoodColor = $cyan500 // #17BEBB //#0091ea //#76ff03 //#75DBCD // #28AFB0
$themeGoodColorLight = lighten($themeGoodColor, 50%)
$themeGoodColorDark = darken($themeGoodColor, 50%)

$themeErrorColor = $red500

$themeBorderColor = $themeTextColor
$themeModalColor = rgba(0,0,0,0.8)

// inputs
$themeInputBorderWidth = 1px
$dropShadowColor = rgba(0,0,0,0.6)
$dropShadowHoverColor = rgba(0,0,0,0.4)

// buttons
$themeButtonColor = $themeTextColorInverted
$themeButtonBorderColor = $themeTextColor
$themeButtonBGColor = $themeAccentColor

// timing
$themeTransitionTime = $transitionTime
