@import   '/muiThemeMap'; 

$spacing: map-get($mui-theme, 'ext-spacing');

.MuiFormControl-root + .MuiFormControl-root {
  margin-top: $spacing; 
}

select.MuiSelect-root > option {
  min-height: 0;
}

.MuiFormControlLabel-root .MuiRadio-root .MuiSvgIcon-root {
  width: 0.8rem;
  height: 0.8rem;
}

.MuiTextField-root.row-text-field-esx-theme-touchups {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;

  label {
    margin-right: $spacing;
  }
}

a.wrapped-link {
  text-decoration: none;
}