/**

  This file is meant to centralize the implementation of the horizantal padding in 
  Containers (header, main, and footer) at various breakpoints.  MUI has some
  inconsistencies and bugs that made this problematic and awkward in other ways.
  Also, have this in three places was not necessarily.

  Functionality: 
    Header: 
      Large widths: full width, gutters are spacing(8) 
      At theme.ext.maxContainerWidth, gutters are spacing(3)
      At xs, gutters are spacing(2)
    main, footer: 
      Large widths: max-width of theme.ext.maxContainerWidth, no gutters since that doesn't make sense
      At theme.ext.maxContainerWidth, gutters are spacing(3)
      At xs, gutters are spacing(2)

*/
@import   '/muiThemeMap'; 

$spacing: map-get($mui-theme, 'ext-spacing') * 1px;
$stage-width: map-get($mui-theme, 'ext-maxContainerWidth') * 1px;
$sm-width: map-get($mui-theme, 'breakpoints-sm') * 1px;

$temp: $spacing * 2 * 8;

  // Having a scope helps override the Mui defaults (that have bugs we couldn't work around)
.sass-root {

  header {
    padding-left: 3 * $spacing;
    padding-right: 3 * $spacing;
  }
  
  @media (min-width: $stage-width) {
    header {
      padding-left: 8 * $spacing;
      padding-right: 8 * $spacing;
    }
  }
  
  @media (max-width: $sm-width) {
    header {
      padding-left: 2 * $spacing;
      padding-right: 2 * $spacing;
    }
  }
  
    // There is a bug in the 'disableGutters' implementation for Container.
  @media (min-width: ($stage-width + $spacing * 2 * 8)) {
    main.MuiContainer-root, footer.MuiContainer-root {
      padding-left: 0;
      padding-right: 0;
      max-width: $stage-width;
    }
  }
  
    // The infamous 'gap'... allow for smooth transition that accords with header's behavior.
  @media (min-width: $stage-width) and (max-width: ($stage-width + $spacing * 2 * 8)) {
    main.MuiContainer-root, footer.MuiContainer-root {
      padding-left: $spacing * 8;
      padding-right: $spacing * 8;
        // https://sass-lang.com/documentation/syntax/special-functions#calc-element-progid-and-expression
      max-width: calc(100% - $temp);
    }
  }
    
  @media (min-width: $sm-width) and (max-width: $stage-width) {
    main.MuiContainer-root, footer.MuiContainer-root {
      padding-left: 3 * $spacing;
      padding-right: 3 * $spacing;
    }
  }
  
  @media (max-width: $sm-width) {
    main.MuiContainer-root, footer.MuiContainer-root {
      padding-left: 2 * $spacing;
      padding-right: 2 * $spacing;
    }
  }

  main.MuiContainer-root.fullScreenContainer {
    max-width: none !important;
    margin-top: 0;
    padding: 0 !important;
  }


  @media (min-width: $stage-width) {
    footer.MuiContainer-root.fullScreenContainer {
      max-width: none !important;
      padding-left: 8 * $spacing;
      padding-right: 8 * $spacing;
    }
  }

}


